.loader{
  max-width: 100%;
  text-align: center;
  margin-right: 103px;
  margin-top: 100px;
}


.tickets {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .miniLoader{
    max-width: 100%;
    text-align: center;
    margin-right: 103px;
  }


  article {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #fff;
  }

  &--supply{
    margin-right: 102px;
    margin-top: 5px;
  }

  &--button{
    width: 100%;
    height: 50px;
    background-color: #2196F3;
    border-radius: 5px;
    border: none;
    color:white;
    cursor: pointer;
    transition: 0.3s;


    &:hover{
      background-color: white;
      color:#2196F3;
    }
  }

}