.filters {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #4A4A4A ;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 56px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: #F1FCFF;
  }

  &:hover:last-child {
    background-color: #F1FCFF;
    border-bottom-right-radius: 200px ;
    border-bottom-left-radius: 10px ;
    height: 40px;
  }
}

.customCheckbox {
  display: none;

  &:checked + .checkmark {
    background-color: white;
    border-color: #2196F3;

    &::after {
      content: '';
      position: absolute;
      left: 6px;
      top: 2px;
      width: 6px;
      height: 10px;
      border: solid #2196F3;
      border-width: 0 1px 1px 0;
      transform: rotate(45deg);
    }
  }
}

.checkmark {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #2196F3;
  background-color: transparent;
  border-radius: 3px;
  transition: background-color 0.2s, border-color 0.2s;
}
